@using System.Diagnostics.CodeAnalysis
@using Volo.Abp.Application.Dtos;
@typeparam TKey
@typeparam TItem
@typeparam TCreateInput
@typeparam TUpdateInput
@inherits BootstrapBlazorComponentBase
<div class="@rootCss">
    @if (Model.ItemChangedType== ItemChangedType.Update)
    {
     @UpdateTemplate?.Invoke(Model.GetUpdateInput())
    }
    else
    {
     @CreateTemplate?.Invoke(Model.GetCreateInput())
    }
</div>

<style>
    .tm {
        --bs-row-label-width: @this.Width px;
    }

</style>