@namespace Tc.Abp.AspNetCore.Components
@inherits NavToolbarBase
<div class="col-7 d-flex align-items-center justify-content-end">
    @*  <div class="d-none d-md-inline-flex align-items-center">
    <a href="/docs/" title="Radzen Blazor Components Documentation" class="mx-2 mx-lg-3" target="_blank">Documentation</a>
    <a href="https://www.radzen.com/" title="Create .NET Core web applications fast & easy" class="text-nowrap mx-2 mx-lg-3" target="_blank">About Radzen</a>
    </div>*@
    <div class="d-none d-md-inline-flex align-items-center">
        @foreach (var render in LeftToolbarItemRenders)
        {
            @render
        }
    </div>
    @foreach (var render in MainToolbarItemRenders)
    {
        @render
    }
</div>
